h1{
    background: #9ca2a2;color:#6b2581;
     text-align: center;
}
h2{
    background: #9ca2a2;color #6b2581;
}
img{
    width: 300px;
}
p{
    background:#48a6a6;color: black;
}
ul{
    background: #73b7b7;color black;
}